* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline-width: 0;
}

body {
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
    background-color: black;
    
}

.logo {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    padding: left 0px;
    height: 100%;
    padding-top: 40px;
    color: #3D5B83;
    font-family: 'Lobster', cursive;
}

.logo h1 {
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
}

.content {
    max-width: 400px;
    margin: 0 auto;
}

#share-field {
    position: relative;
    margin: 0 auto;
    width: 200px;
}

#share-field input {
    width: 100%;
    height: 62px;
    margin-bottom: 5px;
    border: 0.5px solid;
    color: black;
    border-radius: 100%;
}

#share-field input[placeholder] {
    text-align: center;
}

#share-button {
    border: none;
    padding: 5px;
    border-radius: 100%;
    background-color: #EAB92F;
    color: black;
}

#share-button:hover {
    background-color: #3D5B83;
    color: #EAB92F;
    border: 0.5px solid;
}

#main-container {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    overflow: auto;
    max-height: 150px;
    border-radius: 3%;
}

.journal {
    border-bottom: 0.5px solid;
    word-wrap: break-word;
    padding: 5px;
    min-height: 30px;
    border-radius: 0%;
    position: relative;
}

.status-container:hover {
    background-color: rgba(211, 208, 198, 0.342);
    color: black;
}

.date {
    font-size: 5px;
}

.delete-content {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5px;
    color: black;
    background-color: transparent;
    border: none;
    padding: 5px;
    visibility: hidden;
}

.status-container:hover .delete-content {
    visibility: visible;
}






